<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Nós</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Faindau</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Descubra mais sobre nosso app</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Nosso aplicativo foi criado para você, entusiasta de brechó. Você que gosta de ir atrás daquela cadeira antiga, igual a que tinha na casa de sua vó. 
      Para você que busca uma calça de alfaiataria, em bom estado e ótimo preço. E você, com sua coleção de vinil, sempre atrás de novas adicões ao seu arsenal.
      O Faindau foi feito para você. Encontre aqui os melhores brechós e sebos ao seu redor.
    </ion-card-content>
    <ion-button color="secondary" expand="block" routerLink="/login/login">Cadastre-se já</ion-button>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Seja cliente ou dono de loja</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Faindau veio facilitar sua vida</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="ion-text-center">
        Feito também para você, dono e dona de brechó - independente de tamanho. <br>
        Nosso aplicativo oferece você a facilidade de expor seu negócio. Basta cadastrar seus dados.
      </ion-card-content>
      <ion-button color="primary" expand="block" routerLink="/login/login">Venha fazer parte do time Faindau</ion-button>
    </ion-card>
  </ion-card>
</ion-content>